<header class="section-header">
    <h3>
        <span class="name">Ania Starmach</span>
        <span class="txt"> - mój wybór</span>
    </h3>
</header>
<div id="stylization">
<div class="desc">
    Zobacz, które elementy kolekcji najbardziej przypadły do gustu Ani Starmach. Szukaj oznaczeń MÓJ WYBÓR w salonach ORSAY, na orsay.com i w aplikacji mobilnej.
</div>
<div id="sliders">    
    <div class="round-poducts-slider" id="round-poducts-slider">
        <ul>
            <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/stage3/packshot/2/ORSAY_pullover_29.99_Euro_501546.jpg" /></li>
            <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/stage3/packshot/2/ORSAY_cardigan_35.99_Euro_503025.jpg" /></li>
            <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/stage3/packshot/2/359050_97p.jpg" /></li>
        </ul>
    </div>
    <div class="product-details" id="product-details">
        <div class="item">
            <div class="price">119.99 PLN</div>
            <div class="name">Sweter</div>
            <a href="http://www.orsay.com/pl-pl/sweter-z-haftem-i-ozdobnymi-kamieniami-50154698.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
        </div>
        <div class="item">
            <div class="price">139.99 PLN</div>
            <div class="name">Kardigan</div>
            <a href="http://www.orsay.com/pl-pl/kardigan-z-haftem-i-ozdobnymi-kamieniami-50302598.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
        </div>
        <div class="item">
            <div class="price">79.99 PLN</div>
            <div class="name">Jeansy</div>
            <a href="http://www.orsay.com/pl-pl/jegginsy-skinny-35905097.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
        </div>
    </div>
</div>
</div>