<header class="section-header">
    <h3>
        <span class="name">Jessica Mercedes</span>
        <span class="txt"> - mój wybór</span>
    </h3>
</header>
<div id="stylization">
    <div class="desc">
        Zobacz, które elementy kolekcji najbardziej przypadły do gustu Jessice Mercedes. Szukaj oznaczeń MÓJ WYBÓR w salonach ORSAY, na orsay.com i w aplikacji mobilnej.
    </div>
    <div id="sliders">    
        <div class="round-poducts-slider" id="round-poducts-slider">
            <ul>
                <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/contest/ORSAY-Fall-2017_dress_422076_web.jpg" /></li>
                <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/contest/900065_98f.jpg" /></li>
                <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/contest/ORSAY-Fall-2017_bag_900067_web.jpg" /></li>
            </ul>
        </div>
        <div class="product-details" id="product-details">
            <div class="item">
                <div class="price">139.99 PLN</div>
                <div class="name">Sukienka</div>
                <a href="http://www.orsay.com/pl-pl/jessica-mercedes-moj-wybor-42207698.html" target="_blank" class="btn">kup online</a>
            </div>
            <div class="item">
                <div class="price">119.99 PLN</div>
                <div class="name">Torebka</div>
                <a href="http://www.orsay.com/pl-pl/jessica-mercedes-moj-wybor-90006598.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
                <!--<span class="btn" style="background-color: #eee">Dostępna wkrótce</a>-->
            </div>
            <div class="item">
                <div class="price">79.99 PLN</div>
                <div class="name">Torebka</div>
                <a href="http://www.orsay.com/pl-pl/jessica-mercedes-moj-wybor-90006798.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
            </div>
        </div>
    </div>    
    </div>    