<header class="section-header">
    <h3>
        <span class="name">Ania Starmach</span>
        <span class="txt"> - mój wybór</span>
    </h3>
</header>
<div id="stylization">
    <div class="desc">
       Zobacz, które elementy kolekcji najbardziej przypadły do gustu Ani Starmach. Szukaj oznaczeń MÓJ WYBÓR w salonach ORSAY, na orsay.com i w aplikacji mobilnej.
    </div>
    <div id="sliders">
        <div class="round-poducts-slider" id="round-poducts-slider">
            <ul>
                <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/stage4/packshot/ORSAY%20Fall%202017_dress_470089_web.jpg" /></li>
                <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/stage4/packshot/900074_98f.jpg" /></li>
                <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/stage4/packshot/ORSAY%20Fall%202017_bag_901059_web.jpg" /></li>
                <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/stage4/packshot/ORSAY%20Fall%202017_bag_905060_web.jpg" /></li>
            </ul>
        </div>
        <div class="product-details" id="product-details">
            <div class="item">
                <div class="price">99.99 PLN</div>
                <div class="name">Sukienka</div>
                <a href="http://www.orsay.com/pl-pl/sukienka-ze-sznurowanymi-rekawami-47009698.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
            </div>
            <div class="item">
                <div class="price">99.99 PLN</div>
                <div class="name">Torebka</div>
                <a href="http://www.orsay.com/pl-pl/listonoszka-na-cienkim-pasku-90007498.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
                <!--<span class="btn" style="background-color: #eee">Dostępna wkrótce</a>-->
            </div>
            <div class="item">
                <div class="price">79.99 PLN</div>
                <div class="name">Torebka</div>
                <a href="http://www.orsay.com/pl-pl/torba-hobo-z-saszetka-90105998.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage
    " target="_blank" class="btn">kup online</a>
            </div>
            <div class="item">
                <div class="price">79.99 PLN</div>
                <div class="name">Torebka</div>
                <a href="http://www.orsay.com/pl-pl/torba-shopper-90506097.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
            </div>
        </div>
    </div>
    </div>                    