<header class="section-header">
    <h3>
        <span class="name">Jessica Mercedes</span>
        <span class="txt"> - mój wybór</span>
    </h3>
</header>
<div id="stylization">
    <div class="desc">
        Zobacz, które elementy kolekcji najbardziej przypadły do gustu Jessice Mercedes. Szukaj oznaczeń MÓJ WYBÓR w salonach ORSAY, na orsay.com i w aplikacji mobilnej.
    </div>
    <div id="sliders">
        <div class="round-poducts-slider" id="round-poducts-slider">
            <ul>
                <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/contest/ORSAY-Fall-2017_trousers_356064_web.jpg" /></li>
                <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/contest/ORSAY-Fall-2017_blouse_501525_web.jpg" /></li>
                <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/contest/ORSAY-Fall-2017_jacket_800077_web.jpg" /></li>
                <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/contest/ORSAY-Fall-2017_blazer_481085_web.jpg" /></li>
                <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/contest/ORSAY-Fall-2017_pullover_501525_web.jpg" /></li>
            </ul>
        </div>
        <div class="product-details" id="product-details">
            <div class="item">
                <div class="price">99.99 PLN</div>
                <div class="name">Spodnie</div>
                <a href="http://www.orsay.com/pl-pl/jessica-mercedes-moj-wybor-35607198.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
            </div>
            <div class="item">
                <div class="price">79.99 PLN</div>
                <div class="name">Sweter</div>
                <a href="http://www.orsay.com/pl-pl/jessica-mercedes-moj-wybor-50152597.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage
    " target="_blank" class="btn">kup online</a>
            </div>
            <div class="item">
                <div class="price">199.99 PLN</div>
                <div class="name">Kurtka</div>
                <a href="http://www.orsay.com/pl-pl/jessica-mercedes-moj-wybor-80007798.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
                <!--<span class="btn" style="background-color: #eee">Dostępna wkrótce</a>-->
            </div>
            <div class="item">
                <div class="price">179.99 PLN</div>
                <div class="name">Żakiet</div>
                <a href="http://www.orsay.com/pl-pl/blazer-mit-volant-48108598.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage
    " target="_blank" class="btn">kup online</a>
            </div>
            <div class="item">
                <div class="price">79.99 PLN</div>
                <div class="name">Sweter</div>
                <a href="http://www.orsay.com/pl-pl/jessica-mercedes-moj-wybor-50152598.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage
    " target="_blank" class="btn">kup online</a>
            </div>
        </div>
    </div>    
    </div>                    