<header class="section-header">
    <h3>
        <span class="name">Jessica Mercedes</span>
        <span class="txt"> - mój wybór</span>
    </h3>
</header>
<div id="stylization">
<div class="desc">
    Zobacz, które elementy kolekcji najbardziej przypadły do gustu Jessice Mercedes. Szukaj oznaczeń MÓJ WYBÓR w salonach ORSAY, na orsay.com i w aplikacji mobilnej.
</div>
<div id="sliders">    
    <div class="round-poducts-slider" id="round-poducts-slider">
        <ul>
            <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/stage2/packshot/2/ORSAY Fall 2017_pullover_501523_web.jpg" /></li>
            <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/stage2/packshot/2/ORSAY Fall 2017_trousers_352158_web.jpg" /></li>
            <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/stage2/packshot/2/ORSAY Fall 2017_scarf_948061_web.jpg" /></li>
        </ul>
    </div>
    <div class="product-details" id="product-details">
        <div class="item">
            <div class="price">69.99 PLN</div>
            <div class="name">Sweter</div>
            <a href="http://www.orsay.com/pl-pl/jessica-mercedes-moj-wybor-50152395.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
        </div>
        <div class="item">
            <div class="price">119.99 PLN</div>
            <div class="name">Spodnie</div>
            <a href="http://www.orsay.com/pl-pl/jessica-mercedes-moj-wybor-35215898.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
        </div>
        <div class="item">
            <div class="price">69.99 PLN</div>
            <div class="name">Szal</div>
            <a href="http://www.orsay.com/pl-pl/jessica-mercedes-moj-wybor-94806198.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
        </div>
    </div>
</div>
</div>