<header class="section-header">
    <h3>
        <span class="name">Jessica Mercedes</span>
        <span class="txt"> - mój wybór</span>
    </h3>
</header>
<div id="stylization">
<div class="desc">
    Zobacz, które elementy kolekcji najbardziej przypadły do gustu Jessice Mercedes. Szukaj oznaczeń MÓJ WYBÓR w salonach ORSAY, na orsay.com i w aplikacji mobilnej.
</div>
<div id="sliders">
    <div class="round-poducts-slider" id="round-poducts-slider">
        <ul>
            <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/stage2/packshot/1/ORSAY_dress_25.jpg" /></li>
            <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/stage2/packshot/1/ORSAY Fall 2017_belt_916049_web.jpg" /></li>
            <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/stage2/packshot/1/663042_98p.jpg" /></li>
            <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/stage2/packshot/1/ORSAY Fall 2017_dress_530063_web.jpg" /></li>
            <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/stage2/packshot/1/432014_97p.jpg" /></li>
            
        </ul>
    </div>
    <div class="product-details" id="product-details">
            <div class="item">
                <div class="price">119.99 PLN</div>
                <div class="name">Sukienka</div>
                <a href="http://www.orsay.com/pl-pl/jessica-mercedes-moj-wybor-47123098.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
            </div>
            <div class="item">
                <div class="price">49.99 PLN</div>
                <div class="name">Pasek</div>
                <a href="http://www.orsay.com/pl-pl/jessica-mercedes-moj-wybor-91604998.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
            </div>
            <div class="item">
                <div class="price">99.99 PLN</div>
                <div class="name">KOSZULA</div>
                <a href=" http://www.orsay.com/pl-pl/jessica-mercedes-moj-wybor-66304298.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
            </div>
            <div class="item">
                <div class="price">99.99 PLN</div>
                <div class="name">Sukienka</div>
                <a href="http://www.orsay.com/pl-pl/jessica-mercedes-moj-wybor-53006397.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
            </div>
            <div class="item">
                <div class="price">99.99 PLN</div>
                <div class="name">Sukienka</div>
                <a href="http://www.orsay.com/pl-pl/jessica-mercedes-moj-wybor-43201497.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
            </div>
            
        </div>
    </div>
</div>
