<header class="section-header">
    <h3>
        <span class="name">Ania Starmach</span>
        <span class="txt"> - mój wybór</span>
    </h3>
</header>
<div id="stylization">
<div class="desc">
    Zobacz, które elementy kolekcji najbardziej przypadły do gustu Ani Starmach. Szukaj oznaczeń MÓJ WYBÓR w salonach ORSAY, na orsay.com i w aplikacji mobilnej.
</div>
<div id="sliders">
    <div class="round-poducts-slider" id="round-poducts-slider">
        <ul>
            <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/stage4/packshot/ORSAY Fall 2017_jacket_811038_web.jpg" /></li>
            <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/stage4/packshot/ORSAY Fall 2017_pullover_501547_web.jpg" /></li>
            <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/stage4/packshot/301040_98p.jpg" /></li>   
        </ul>
    </div>
    <div class="product-details" id="product-details">
            <div class="item">
                <div class="price">239.99 PLN</div>
                <div class="name">Kurtka</div>
                <a href="http://www.orsay.com/pl-pl/pikowana-kurtka-z-kapturem-81103896.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
            </div>
            <div class="item">
                <div class="price">99.99 PLN</div>
                <div class="name">Sweter</div>
                <a href="http://www.orsay.com/pl-pl/sweter-z-rozszerzanymi-rekawami-50154797.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
                <!--<span class="btn" style="background-color: #eee">Dostępna wkrótce</a>-->
            </div>
            <div class="item">
                <div class="price">119.99 PLN</div>
                <div class="name">Jeansy</div>
                <a href="http://www.orsay.com/pl-pl/jeansy-skinny-30104098.html?nsctrid=5555555116&utm_source=landingpage&utm_medium=referral&utm_campaign=20-years-pl&utm_content=landingpage" target="_blank" class="btn">kup online</a>
            </div>
        </div>
    </div>
</div>
