<div id="stylization">
<div class="desc">
    Produkty dostępne od 11 września.
</div>
<!--<div id="sliders">    
    <div class="round-poducts-slider" id="round-poducts-slider">
        <ul>
            <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/contest/ORSAY-Fall-2017_trousers_356064_web.jpg" /></li>
            <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/contest/ORSAY-Fall-2017_blouse_501525_web.jpg" /></li>
            <li><img class="go-next-step" src="/wp-content/themes/frogriot/assets/img/contest/ORSAY-Fall-2017_jacket_800077_web.jpg" /></li>
        </ul>
    </div>
    <div class="product-details" id="product-details">
        <div class="item">
            <div class="price">129.99 PLN</div>
            <div class="name">Spodnie</div>
            <a href="#" onclick="alert('Brak linku'); return false" target="_blank" class="btn">kup online</a>
        </div>
        <div class="item">
            <div class="price">129.99 PLN</div>
            <div class="name">Sweter</div>
            <a href="http://www.orsay.com/pl-pl/jessica-mercedes-moj-wybor-50152597.html" target="_blank" class="btn">kup online</a>
        </div>
        <div class="item">
            <div class="price">129.49 PLN</div>
            <div class="name">Kurtka</div>
            <a href="#" onclick="alert('Brak linku'); return false" target="_blank" class="btn">kup online</a>
        </div>
    </div>
</div>-->   
</div>    