/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 0.625rem;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
html, body {
    height: 100%
}
img {
    display: block;
    max-width: 100%;
}
* {
    box-sizing: border-box;
}



/* ==========================================================================
   fonts
========================================================================== */
@font-face {
    font-family: 'Manus';
    src: url('../fonts/Manus.eot?#iefix') format('embedded-opentype'),  url('../fonts/Manus.woff') format('woff'), url('../fonts/Manus.ttf')  format('truetype'), url('../fonts/Manus.svg#Manus') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
* {
    font-family: 'Oswald', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}
*/


/* ==========================================================================
   common
========================================================================== */
body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem; 
}
p {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 3.2rem;
}
h3 {
    font-size: 4.6rem;
    line-height: 1.3;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 7rem;
}
h4 {
    font-size: 3rem;
    line-height: 1.3;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.row {
    overflow: hidden;
}
/*.grid {
    border-left: 1px solid rgba(0,0,0, .10);
    border-right: 1px solid rgba(0,0,0, .10);
    z-index: 0;
    position: relative;
}
.grid:before {
    display: block;
    position: absolute;
    content: "";
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    border-left: 1px solid rgba(0,0,0, .10);
    border-right: 1px solid rgba(0,0,0, .10);
    z-index: -1;
}
.grid:after {
    display: block;
    position: absolute;
    content: "";
    left: 50%;
    width: 0;
    top: 0;
    bottom: 0;
    border-left: 1px solid rgba(0,0,0, .10);
    z-index: -1;
}
.grid.grid__light {
    border-left-color: rgba(255,255,255, .15);
    border-right-color: rgba(255,255,255, .15);
}
.grid.grid__light:before {
    border-left-color: rgba(255,255,255, .15);
    border-right-color: rgba(255,255,255, .15);
}
.grid.grid__light:after {
    border-left-color: rgba(255,255,255, .15);
}*/
.col {
    float: left;
}
.col-25 {
    width: 25%;
}
.col-50 {
    width: 50%;
}
.col-75 {
    width: 75%;
}
.col-offset-25 {
    margin-left: 25%;
}
.padding-left-80 {
    padding-left: 80px;
}
.padding-left-160 {
    padding-left: 160px;
}
.padding-left-120 {
    padding-left: 120px;
}
.padding-left-40 {
    padding-left: 40px;
}
.padding-right-50 {
    padding-right: 50px;
}
.padding-bottom-105 {
    padding-bottom: 10.5rem;
}

.padding-top-70 {
    padding-top: 7rem;
}
.margin-bottom-30 {
    margin-bottom: 3rem;
}
.margin-bottom-40 {
    margin-bottom: 4rem;
}
.margin-bottom-70 {
    margin-bottom: 7rem;
}
.margin-bottom-75 {
    margin-bottom: 7.5rem;
}
.margin-bottom-90 {
    margin-bottom: 9rem;
}
.margin-bottom-95 {
    margin-bottom: 9.5rem;
}
.margin-bottom-105 {
    margin-bottom: 10.5rem;
}
.margin-bottom-140 {
    margin-bottom: 14rem;
}
.margin-bottom-185 {
    margin-bottom: 18.5rem;
}
.margin-bottom-200 {
    margin-bottom: 20rem;
}
.margin-top-70 {
    margin-top: 70px;
}
.center {
    text-align: center;
}
.features-list {
    list-style: none;
    margin: 6.5rem 0 5.5rem;
}
.features-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 62px;
}
.features-list li:last-child {
    margin-bottom: 0;
}
.features-list li .img-box {
    width: 63px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    opacity: 0;
    position: relative;
    left: -40px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.features-list li.show .img-box {
    opacity: 1;
    left: 0;
}
.features-list li .content-box {
    opacity: 0;
    position: relative;
    left: 40px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.features-list li.show .content-box {
    opacity: 1;
    left: 0;
}
.features-list li .content-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
.btn {
    display: inline-block;;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    padding: 13px 27px;
    background-color: #f2ddd5;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 1px solid transparent;
}
.btn:hover {
    background-color: #fff;
    border: 1px solid #000;
}
#page-header .btn:hover {
    border: 1px solid transparent;
}
#page-header .page-header-content {
    width: 540px;
    margin-left: auto;
}
.page-header-content .mobile-br {
    display: none;
}
.btn.btn__white {
    background-color: #fff;
}
.btn.btn__white:hover {
    background-color: #f2ddd5;
}
.spinner {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.double-bounce1, .double-bounce2 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #ccc;
    opacity: 0.6;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 999999;
    opacity: 1;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}
.preloader.loaded {
    opacity: 0;
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}



/* ==========================================================================
   header
========================================================================== */
#page {
    height: 100%;
}
#page-header {
    height: 100%;
    position: relative;
    overflow-x: hidden;
}
.next-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: #f2ddd5;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.next-button:hover {
    background: #fff;
}
.next-button .arrow {
    width: 100px;
    height: 100px;
    background: url(../img/svg/arrow.svg) 50% 50% no-repeat;
}
/*#page-header > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0,0,0.4,1);
    transition-timing-function: cubic-bezier(0,0,0.4,1);
}*/
@-webkit-keyframes slideBackground {
    form {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(-18%);
        transform: translateX(-18%);
    }
}
@keyframes slideBackground {
    form {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(-18%);
        transform: translateX(-18%);
    }
}
@-webkit-keyframes slideBackgroundBack {
    form {
        -webkit-transform: translateX(-18%);
        transform: translateX(-18%);
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes slideBackgroundBack {
    form {
        -webkit-transform: translateX(-18%);
        transform: translateX(-18%);
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
#page-header {
    overflow: hidden;
}
#page-header .bg-image {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/stage4/top_2.jpg);
    
    background-position: 45% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    z-index: -1;
    /*-webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition-timing-function: cubic-bezier(0,0,0.4,1);
    transition-timing-function: cubic-bezier(0,0,0.4,1);
    -webkit-transition: 0.6s;
    transition: 0.6s;*/
}
#page-header .logo-header {
    position: relative;
    z-index: 1;
}
#page-header .logo-header:after {
    position: absolute;
    display: block;
    left: -30px;
    top: -30px;
    right: -30px;
    bottom: -30px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(129,164,176,0.6) 0%, rgba(129,164,176,0.6) 1%, rgba(129,164,176,0) 60%, rgba(129,164,176,0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(129,164,176,0.6) 0%,rgba(129,164,176,0.6) 1%,rgba(129,164,176,0) 60%,rgba(129,164,176,0) 100%);
    background: radial-gradient(ellipse at center, rgba(129,164,176,0.6) 0%,rgba(129,164,176,0.6) 1%,rgba(129,164,176,0) 60%,rgba(129,164,176,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9981a4b0', endColorstr='#0081a4b0',GradientType=1 );
    content: "";
    z-index: -1;
}
#page-header.init .bg-image {
    -webkit-transition: all 3s linear;
    transition: all 3s linear;
    transition-timing-function: cubic-bezier(0.42,0,0.58,1);
    -moz-transition-timing-function: cubic-bezier(0.42,0,0.58,1); /* Firefox 4 */
    -webkit-transition-timing-function: cubic-bezier(0.42,0,0.58,1); /* Safari and Chrome */
    -o-transition-timing-function: cubic-bezier(0.42,0,0.58,1); /* Opera */ 
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#page-header.sliding .bg-image {
    -webkit-transition-timing-function: cubic-bezier(0,0,0.4,1);
    transition-timing-function: cubic-bezier(0,0,0.4,1);
    -webkit-transition: 0.6s;
    transition: 0.6s;
}
#page-header.init.show .bg-image {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.ambasadors #page-header .bg-image {
    background-image: url(../img/img-main-02.jpg);
    /*background-size: auto;*/
}
.shop #page-header .bg-image {
    background-image: url(../img/img-main-01.jpg);
    /*background-size: auto;*/
}
.menu-opened #page-header.sliding .bg-image {
    -webkit-transform: translateX(-18%);
    transform: translateX(-18%);
}
.menu-opened #page-header .bg-image {
    background-size: cover;
}
/*.menu-opened #page-header.fading .bg-image {
    background-size:cover !imporatnt;
    -webkit-transition: 3s;
    transition: 3s;
}*/
.menu-opened #page-header .bg-image {
    -webkit-transform: translateX(-18%);
    transform: translateX(-18%);
    
}
#page-header .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#page-header .content .container {
    height: 100%;
}
.page-header-head {
    padding-top: 38px;
    display: -webkit-box;
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 7.8rem;
    position: relative;
    top: -127px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}
.loaded .page-header-head {
    top: 0
}
.page-header-content h1 {
    font-size: 5.6rem;
    line-height: 1.3;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 4rem;
    margin-bottom: auto;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    left: 200px;
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
    text-align: left;
}
.page-header-content h1.show {
    left: 0;
    opacity: 1;
}
.page-header-content .desc {
    font-size: 2.4rem;
    line-height: 1.33;
    color: #fff;
    font-weight: 500;
    margin-bottom: 2.6rem;
    position: relative;
    left: 220px;
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}
.page-header-content .desc.show {
    left: 0;
    opacity: 1;
}
.page-header-content .name {
    font-size: 8rem;
    font-family: 'Manus';
    color: #fff;
    line-height: 1;
    margin-bottom: 4.3rem;
    -webkit-transition: 1s;
    transition: 1s;
    left: 240px;
    position: relative;
    opacity: 0;
}
.page-header-content .name.show {
    left: 0;
    opacity: 1;
}
.page-header-content .cta-wrapper {
    position: relative;
    left: 260px;
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}
.page-header-content .cta-wrapper.show {
    left: 0;
    opacity: 1;
}
.page-header-content .cta-wrapper .btn {
    margin-right: 40px;
}
.page-header-head .logo-orsay {
    padding-top: 23px;
}
.main-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 9rem;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.menu-opened .main-nav {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}
.main-nav .menu {
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin-bottom: 5rem;
}
.main-nav .menu li {
    border-bottom: 1px solid #f2ded7;
}
.main-nav .menu li a {
    display: block;
    font-size: 4.8rem;
    padding: 2.8rem 0;
    color: #000;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-shadow: 4px 4px 2px #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.main-nav .menu:hover li a {
    opacity: 0.4;
}
.main-nav .menu li a:hover {
    opacity: 1;
    text-shadow: 4px 4px 2px #f1ddd6;
}
.main-nav .notes .item {
    display: block;
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 14px;
}
.main-nav .notes .item:hover {
    text-decoration: underline;
}
.btn-menu {
    width: 56px;
    height: 56px;
    background-color: #f2ddd5;
    padding: 18px;
    margin-left: 54px;
}
.close-menu {
    width: 56px;
    height: 56px;
    background-color: #f1ddd6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 45px;
    right: 15px;
}
.btn-menu span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000;
    margin-bottom: 6px;
}
.btn-menu span:last-child {
    margin-bottom: 0;
}
.btn-menu span:first-child {
    margin-left: 3px;
}
.btn-menu span:nth-child(2) {
    margin-left: -6px;
}
.btn-menu span {
    -webkit-transition: 0.15s linear;
    transition: 0.15s linear;
}
.btn-menu:hover {
    background-color: #fff;
}
.btn-menu:hover span {
    margin-left: 0;
}
.product-slider .icons .icon-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff; 
    background-image: url(../img/svg/icon-plus.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 40px;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.product-slider .item img {
    margin: 0 auto;
}
.product-slider .icons .icon-item.show {
    margin-top: 0;
    opacity: 1;
}
.product-slider .icons .icon-item.active,
.product-slider .icons .icon-item:hover {
    background-color: #000;
    background-image: url(../img/svg/loupe.svg);
}
.product-slider .item {
    position: relative;
    background-color: rgba(242, 221, 213, 0.2);
}
.product-slider .item .icons .icon-item {
    position: absolute;
}

.product-slider .item.pre-one .icons .icon-item:nth-child(1) {
    left: 57.57%;
    top: 23.28%;
}
.product-slider .item.pre-one .icons .icon-item:nth-child(2) {
    left: 39.21%;
    top: 41.31%;
}
.product-slider .item.pre-one .icons .icon-item:nth-child(3) {
    top: 54%;
    left: 52%;
}

.product-slider .item.pre-two .icons .icon-item:nth-child(1) {
    left: 48.57%;
    top: 36.28%;
}
.product-slider .item.pre-two .icons .icon-item:nth-child(2) {
    left: 35.21%;
    top: 27.31%;
}
.product-slider .item.pre-two .icons .icon-item:nth-child(3) {
    top: 54%;
    left: 45%;
}

.product-slider .item.pre-three .icons .icon-item:nth-child(1) {
    left: 52.57%;
    top: 29.28%;
}
.product-slider .item.pre-three .icons .icon-item:nth-child(2) {
    left: 42.21%;
    top: 42.31%;
}
.product-slider .item.pre-three .icons .icon-item:nth-child(3) {
    top: 59%;
    left: 42%;
}

.product-slider .item.pre-four .icons .icon-item:nth-child(1) {
    left: 41.57%;
    top: 37.28%;
}
.product-slider .item.pre-four .icons .icon-item:nth-child(2) {
    left: 37.21%;
    top: 52.31%;
}


.product-slider .item.one .icons .icon-item:nth-child(1) {
    left: 38.57%;
    top: 35.28%;
}
.product-slider .item.one .icons .icon-item:nth-child(2) {
    left: 30.21%;
    top: 50.31%;
}
.product-slider .item.one .icons .icon-item:nth-child(3) {
    top: 59%;
    left: 23%;
}

.product-slider .item.two .icons .icon-item:nth-child(1) {
    left: 24.21%;
    top: 62.31%;
}
.product-slider .item.two .icons .icon-item:nth-child(2) {
    left: 54.57%;
    top: 59.28%;
}
.product-slider .item.two .icons .icon-item:nth-child(3) {
    left: 30.57%;
    top: 52.28%;
}


.product-slider .item.three .icons .icon-item:nth-child(1) {
    left: 32.21%;
    top: 50.31%;
}
.product-slider .item.three .icons .icon-item:nth-child(2) {
    left: 54.57%;
    top: 25.28%;
}
.product-slider .item.three .icons .icon-item:nth-child(3) {
    left: 66.66%;
    top: 21.4%;
}

.product-slider .item.four .icons .icon-item:nth-child(1) {
    left: 50.21%;
    top: 33.31%;
}
.product-slider .item.four .icons .icon-item:nth-child(2) {
    left: 72.57%;
    top: 56.28%;
}
#datesSlider {
    position: absolute;
    margin-top: 16px;
    font-size: 2.2rem;
    left: 0;
    right: 0;
}
#my-choice .col {
    position: relative;
}
.products-wrapper {
    position: relative;
}


/* ==========================================================================
   page content
========================================================================== */

.go-next-step{
    max-height:362px;
    width:auto;
}
#page-content {
    overflow: hidden;
}
#page-content .container {
    padding-top: 11rem;
}
#page-content > .grid {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: -99;
}
#waypoint-1 .section-header {
    opacity: 0;
    position: relative;
    left: 40px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}
#waypoint-1 .section-header.show {
    opacity: 1;
    left: 0;
}
#waypoint-1 .waypoint-1-intro {
    opacity: 0;
    position: relative;
    left: 40px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}
#waypoint-1 .waypoint-1-intro.show {
    opacity: 1;
    left: 0;
}
.product-slider {
    padding-top: 70px;
}
.product-slider .slick-dots {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 0;
    overflow: hidden;
    list-style: none;
    margin: 0;
}
.product-slider .slick-dots li {
    float: left;
    margin-left: 1px;
}
.product-slider .slick-dots li .pag-button {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: none;
    background: #fff;
    color: #7f7f7f;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    cursor: pointer;
}
.product-slider .slick-dots li .pag-button:hover,
.product-slider .slick-dots li.slick-active .pag-button {
    background-color: #000;
    color: #fff;
}
.product-slider .slick-dots li .pag-button:focus {
    outline: none;
}
#sliders {
    opacity: 0;
    transition: 0.3s;
}
#sliders.show {
    opacity: 1;
}
.round-poducts-slider img {
    margin: 0 auto;
}
.product-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -80px;
    position: relative;
}
.mobile .product-details {
    margin-top: 0;
}
.mobile .round-poducts-slider ul {
    padding-left: 0;
    margin-top: 0;
}
.mobile .round-poducts-slider li {   
    float: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}
.mobile .round-poducts-slider li img { 
    display: inline-block;
}
.product-details .item .price {
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
}
.product-details .item .name {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    
}
.product-details .item .btn {
    font-weight: 600;
    padding-left: 6.3rem;
    padding-right: 6.3rem;
}
.product-details .slick-list {
    width: 300px;
    text-align: center;
}
.product-details .slick-list .slick-slide.slick-slide.slick-current.slick-active  {
    outline: none !important;
}
.product-details .slick-arrow {
    padding: 10px;
    cursor: pointer;
}
.my-choice h3 {
    margin-bottom: 4.4rem;
}
.my-choice .desc {
    margin-bottom: 3rem;
    line-height: 1.6;
    min-height: 96px;
}
.my-choice .section-header h3 {
    text-transform: inherit;
    text-align: left;
}
.my-choice .section-header h3 .txt {
    text-transform: uppercase;
}
.block-450 {
    max-width: 450px;
    width: 100%;
}
.block-400 {
    max-width: 400px;
    width: 100%;
}
.feature-img-container {
    position: relative;
}
.feature-img-container:after {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}
.feature-img-container.reverse.show-reverse:after {
    right: 100%;
}
.feature-img-container.show:after {
    left: 100%;
}
.feature-img-label {
    display: table;
    position: absolute;
    top: 67px;
    right: -34px;
    right: 0;
    font-size: 3.6rem;
    font-family: 'Oswald', sans-serif;
    line-height: 1;
    padding: 1.9rem 3.3rem;
    background-color: #f2ddd5;
    text-transform: uppercase;
    border: 10px solid #fff;
    opacity: 0;
}
@-webkit-keyframes positionLabel {
    0% {
        top: 67px;
        opacity: 1;
        right: -134px
    }
    50% {
        top: 370px;
        right: -134px
    }
    100% {
        top: 370px;
        right: 15px;
        opacity: 1;
    }
}
@keyframes positionLabel {
    0% {
        top: 67px;
        right: -134px;
        opacity: 1;
    }
    50% {
        top: 370px;
        right: -134px
    }
    100% {
        top: 370px;
        right: 15px;
        opacity: 1;
    }
}
@-webkit-keyframes positionLabelBack {
    0% {
        top: 370px;
        right: 15px;
        opacity: 1;
    }
    50% {
        top: 370px;
        right: -134px
    }
    100% {
        top: 67px;
        right: -134px;
        opacity: 1;
    }
}
@keyframes positionLabelBack {
    0% {
        top: 370px;
        right: 15px;
        opacity: 1;
    }
    50% {
        top: 370px;
        right: -134px
    }
    100% {
        top: 67px;
        right: -134px;
        opacity: 1;
    }
}
.feature-img-label.show.slide {
    -webkit-animation-name: positionLabel;
    animation-name: positionLabel;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.feature-img-label.show.unslide {
    -webkit-animation-name: positionLabelBack;
    animation-name: positionLabelBack;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.feature-img-label.show {
    -webkit-animation-name: slideLabel;
    animation-name: slideLabel;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes slideLabel {
    form {
        opacity: 0;
        right: 0;
    }
    to {
        opacity: 1;
        right: -134px;
    }
}
@keyframes slideLabel {
    form {
        opacity: 0;
        right: 0px;
    }
    to {
        opacity: 1;
        right: -134px;
    }
}
.events-table-wrapper {
    max-height: 343px;
    position: relative;
}
.events-table td:before {
    display: none;
}
.events-table {
    table-layout: fixed;
    width: calc(100% - 40px);
    box-shadow: 0 20px 100px 0 rgba(0,0,0, .08);
    margin-right: 40px;
    margin-bottom: 60px;
}
.events-table th {
    text-align: left;
    padding: 22px 0 22px 30px;
    background-color: #efdad2;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.events-table-inner {
    table-layout: fixed;
    width: 100%;
    background-color: #fff;
}
.events-table-inner td {
    padding: 12px 0 12px 30px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 1.7rem;
}
.events-table-inner td a {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}
.events-table-inner td a:hover {
    text-decoration: underline;
}
.events-table-inner tr {
    opacity: 0;
    position: relative;
    top: 40px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.events-table-inner tr.show {
    opacity: 1;
    top: 0;
}
.events-table-wrapper {

}
.map-wrapper {
    position: relative;
    display: table;
    padding-right: 30px;
}
.pins .pin {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.tooltip-map {
    color: #fff;
    font-size: 16px;
    line-height: 1.2;
    visibility: hidden;
}
.tooltipster-show .tooltip-map {
    visibility: visible;
}
.tooltip-map .city {
    font-weight: 700;
    text-transform: uppercase;
}
.tooltip-map span {
    white-space: nowrap;
    display: block;
}
.pins .pin.show {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}
.pin {
    width: 20px;
    height: 22px;
    background: url(../img/svg/active.svg) 0 100% no-repeat;
    position: absolute;
    background-size: 20px;
}
.pin__large {
    width: 38px;
    height: 44px;
    background-size: 38px;
}
.pin .label {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: #f2ddd5;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    color: #000;
    position: absolute;
    top: -11px;
    right: -11px;
}
.pin.pin__large .label {
    top: -7px;
    right: -7px;
}
.pin.warszawa {
    left: 68.9%;
    top: 32.8%;
}
.pin.poznan {
    left: 21.78%;
    top: 39.16%;
}
.pin.lodz {
    left: 50.41%;
    top: 47.26%;
}
.pin.zielona-gora {
    left: 11.2%;
    top: 49.45%;
}
.pin.szczecin {
    left: 6.22%;
    top: 23.41%;
}
.pin.rumia {
    left: 40.46%;
    top: 5.91%;
}
.pin.gdansk {
    left: 45.85%;
    top: 8.31%;
}
.pin.wroclaw {
    left: 27.38%;
    top: 56.89%;
}
.pin.legnica {
    left: 19.92%;
    top: 56.45%;
}
.pin.czeladz {
    left: 41.08%;
    top: 68.93%;
}
.pin.katowice {
    left: 36.93%;
    top: 69.58%;
}
.pin.krakow {
    left: 57.47%;
    top: 82.06%;
}
.pin.bielsko-biala {
    left: 47.47%;
    top: 85.06%;
}
.pin.mikolow {
    left: 33.2%;
    top: 71.58%;
}
.pin.kielce {
    left: 56.43%;
    top: 64.1%;
}
.facebook-inline {
    display: inline-block;
    padding: 5px;
    vertical-align: top;
    background-color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.facebook-inline:hover {
    background-color: #efdad2;
}


/** gallery lightbot**/

#gallery {
    display: none;
}
#gallery.show {
    display: block;
}

.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

/** gallery lightbox END **/


/* ==========================================================================
   page footer
========================================================================== */
#page-footer {
    background-color: #000;
}
#page-footer .content {
    position: relative;
    padding: 7.6rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#page-footer .copy {
    font-size: 1.6rem;
    color: #fff;
}
#page-footer .regulations .item {
    font-size: 1.6rem;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-left: 45px;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
#page-footer .regulations .item:hover {
    color: #efdad2;
    text-decoration: none;
}



/* ==========================================================================
   contest
   ========================================================================== */
.contest{
    text-align: center;
    position: relative;
    left:-40px;
    max-width: 650px;
    margin:0 auto;
}

.contest p{
    margin-top:0;
    padding:0 15px;
}

.contest__btn{
    margin-top:40px;
}

.contest__header{
    padding-bottom:0;
}

.contest a{
    color:#000;
    font-weight: 700;
}


.btn.btn__black {
    background-color: #000;
    color: #fff;
}
.btn.btn__black:hover {
    background-color: #fff;
    border-color: #000;
    color: #000;
}
.white-popup {
    max-width: none;
    padding: 0 8rem 0;
}
.white-popup .container {
    padding-top: 12rem;
    padding-left: 8rem;
    padding-bottom: 10rem;
    max-width: 1280px;
    width: 100%;
}
.tabcontent {
    border: none;
    padding: 0;
    overflow: hidden;
}
.tabcontent.content-one .side {
    float: left;
}
.tabcontent.content-one .content {
    display: block;
    overflow: hidden;
    padding-left: 36px;
    padding-top: 5.6rem;
    padding-right: 36px;
}
.tabcontent.content-one .content h2 {
    font-size: 2rem;
    margin-bottom: 12.8rem;
    text-align: left;
    font-weight: 400;
}
.tabcontent.content-two h2 {
    font-size: 2rem;
    margin: 0 8rem;
    margin-bottom: 6.4rem;
    padding-bottom: 0;
    font-weight: 400;
}
.tabcontent.content-two .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.tabcontent.content-two .content .image-container {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 190px;
    height: 273px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
.tabcontent.content-two .content .image-container img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.tabcontent.content-two .content .content-container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
#contest-answer {
    display: block;
    width: 100%;
    font-size: 2rem;
    color: #000000;
    padding: 30px;  
}
#contest-answer:focus {
    outline-color: #f2ddd5;
}
#konkurs {
    counter-reset: step;
}
#konkurs h1 {
    font-size: 4.6rem;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin-bottom: 9rem;
    padding-bottom: 0;
}
#konkurs .steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 70px;
}
#konkurs .steps .item {
    margin-right: 82px;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: #999999;
}
#konkurs .steps .item:before {
    counter-increment: step;
    content: counter(step);
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 11px;
    line-height: 36px;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    color: #999999;
    text-align: center;
    background-color: #fff;
    border: 1px solid #999999;
}
#konkurs .steps .item.done:before {
    content: url(../img/svg/tick.svg);
    opacity: 0.4;
    border: none;
}
#konkurs .steps .item.active {
    color: #000;
}
#konkurs .steps .item.active:before {
    background-color: #000;
    color: #fff;
    border-color: #000;
}
.contest-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.contest-slider .slick-track img {
    margin: 0 25px;
    cursor: pointer;
}
.contest-slider .slick-track img:focus {
    outline: none;
}
.tooltipster-base {
    font-size: 1.5rem;
}
.contest-slider .slick-arrow {
    padding: 10px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.contest-slider .slick-arrow.slick-prev {
    left: -36px;
}
.contest-slider .slick-arrow.slick-next {
    right: -36px;
}
.contest-slider .slick-arrow img {
    max-width: inherit;
}
.textarea-wrapper {
    position: relative;
    margin-bottom: 46px;
}
.texatarea-chars {
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 100%;
    left: 0;
    height: 46px;
    line-height: 46px;
    text-align: right;
    padding-right: 22px;
}
.go-prev-step {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: #000;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    position: absolute;
    top: calc(100% + 30px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.go-prev-step:hover {
    opacity: 0.6;
}
#answer-error {
    position: absolute;
    margin-top: -38px;
    font-size: 14px;
}
#step3 {
    max-width: 480px;
    margin: 0 auto;
}
#step3 input[type="text"],
#step3 input[type="email"] {
    width: 100%;
    font-size: 2rem;
    padding: 11px 21px;
    border: 1px solid #000;
    margin-top: 20px;
}
#step3 input[type="text"]:focus,
#step3 input[type="email"]:focus { 
    outline-color: #f2ddd5;
}
.agrees {
    margin-top: 40px;
}
.agrees > div {
    margin-bottom: 20px;
    font-size: 1.5rem;
    padding-top: 2px;
}
div.error {
    font-size: 14px;
    padding-top: 8px;
}
.agrees .main-agree {
    font-size: 2rem;
    padding-top: 0;
}
.agrees label {
    position: relative;
    padding-left: 41px;
    display: block;
    line-height: 1.4;
    cursor: pointer;
}
.agrees > div input {
    display: none;
}
.agrees .state {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}
.agree-tooltip {
    font-weight: 700;
    text-decoration: underline;
    padding-left: 5px;
}
.agree-tooltip:hover {
    text-decoration: none;
}
.agrees input:checked ~ .state:before {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../img/svg/tick.svg) 50% 50% no-repeat;
    background-size: 12px;
}
#step3 .go-next-step {
    display: table;
    margin: 40px auto 0;
}
#contest .mfp-close {
    width: 56px;
    height: 56px;
    background-color: #f2ddd5;
    font-size: 42px;
    font-weight: 400;
    color: #000;
    opacity: 1;
}
.thanks-box {
    margin-bottom: 6.2rem;
}
.thanks-box .icon-box {
    float: left;
    margin-right: 12px;
    width: 66px;
    text-align: center;
}
.thanks-box .icon-box img {
    display: inline-block;
}
.thanks-box .content-box {
    overflow: hidden;
    text-align: left;
    line-height: 1.5;
}
.thanks-box .big {
    font-weight: 700;
}
.thanks-box .btn {
    margin-top: 21px;
}
.slick-arrow.slick-disabled {
    visibility: hidden;
}
#amasadorki-link {
    padding-top: 20px;
}
@media screen and (max-width: 1199px) {
    .contest{
        left:0px;
    }

    #konkurs .steps .item {
        font-size: 1.8rem;
        margin-right: 52px;
    }
    #konkurs .steps .item:before {
        font-size: 1.8rem;
    }
    .margin-bottom-140 {
        margin-bottom: 10rem;
    }
}
@media screen and (max-width: 991px) {
    .white-popup .container {
        padding-left: 0;
    }
    .tabcontent.content-one .content {
        padding-left: 36px;
    }
    .tabcontent.content-one .content h2 {
        text-align: center;
        margin-bottom: 6rem;
    }
    .tabcontent.content-one .side {
        float: none;
        margin: 0 auto;
        width: 320px;
    }
    #konkurs .steps .item {
        margin-right: 42px;
        font-size: 1.5rem;
    }
    .tabcontent.content-two .content {
        display: block;
    }
    .tabcontent.content-two .content .image-container {
        margin: 0 auto 80px;
    }
    .product-slider {
        margin-top: 5rem;
    }
    .product-slider {
        padding-top: 70px;
    }
    #datesSlider {
        position: absolute;
        top: 44px;
    }
    .margin-bottom-mobile-0 {
        margin-bottom: 0;
    }
    #ambasadors-section {
        margin-top: 50px;
    }
    #mobile-reverse {
        display: flex;
        flex-wrap: wrap;
    }
    #mobile-reverse .products-wrapper {
        order: -1;
        margin-bottom: 30px;
    }
    .round-poducts-slider {
        padding-top: 15px;
    }
    #fixed-box-4-limit .col.col-50:first-child {
        width: 40%;
    }
    #fixed-box-4-limit .col.col-50:nth-child(2) {
        width: 60%;
    }
    #page-content .container {
        padding-top: 30px;    
    }
    #page-header .bg-image {
        background-position: 50% 50%;
    }
    #page-header .page-header-content {
        width: 500px;
    }
    #page-header .bg-image {
        background-position: 45% 50%;
    }
}
@media screen and (max-width: 767px) {
    #page-header .bg-image {
        background-position: 100% 50%;
    }
    #konkurs h1 {
        text-align: center;
    }
    .white-popup {
        padding: 0;
    }
    #datesSlider {
        position: absolute;
        top: 84px;
    }
    body .white-popup .container {
        margin: 0;
    }
    #konkurs .steps .item {
        margin-right: 42px;
        font-size: 14px;
    }
    #konkurs .steps .item {
        position: relative;
        margin: 0;
        text-align: center;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
    }
    #konkurs .steps .item:before {
        position: absolute;
        bottom: calc(100% + 10px);
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
    #konkurs .steps {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    #contest-answer {
        margin: 0 10px;
        width: calc(100% - 20px);
        padding: 10px;
        font-size: 15px;
    }
    #answer-error {
        padding-left: 10px;
    }
    #step3 {
        margin-left: 10px;
        margin-right: 10px;
    }
    #step2 .go-next-step {
        display: table;
        margin: 0 auto;
    }
    .contest p {
        text-align: left;
    }
    .thanks-box .icon-box {
        margin-right: 0;
        margin-left: 5px;
    }
    .page-header-content .mobile-br {
        display: block;
    }
    #page-content .container {
        padding-top: 0;
    }
    #ambasadors-section {
        padding-top: 3.4rem;
    }
    .margin-bottom-140 {
        margin-bottom: 6rem;
    }
    .round-poducts-slider {
        padding-top: 0
    }
    #page-header .page-header-content {
        width: 100%;
    }
    #page-header .bg-image {
        background-position: 30% 50%;
    }
}
@media screen and (max-width: 479px) {
    .tabcontent.content-one .side {
        width: 200px;
    }
    #answer-error {
        font-size: 13px;
    }
    .texatarea-chars {
        font-size: 13px;
    }
}



    

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1310px) {
    html {
        font-size: 0.575rem;
    }
    .container {
        width: 970px;
        margin: 0 auto;
    }
    h3 {
        font-size: 3.6rem;
    }
    #fixed-box-4-limit .col.col-50:first-child {
        width: 40%;
    }
    #fixed-box-4-limit .col.col-50:nth-child(2) {
        width: 60%;
    }
    .product-slider .slick-dots li .pag-button {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 25px;
    }
    #datesSlider {
        margin-top: 12px;
    }
    
}
@media only screen and (max-width: 991px) {
    .container {
        width: 750px;
        margin: 0 auto;
    }
    .feature-img-label {
        position: static;
        border: 0;
        width: 100%;
        text-align: center;
        margin-top: 5px;
    }
    .col {
        float: none;
    }
    .col-offset-25 {
        margin-left: 0;
    }
    .col-25 {
        width: 100%;
    }
    .col-50 {
        padding: 0;
        width: 100%;
    }
    .col-75 {
        padding-left: 0;
        width: 100%;
    }
    .col-offset-25 {
        padding: 0;
    }
    .feature-img-container {
        width: 187px;
        margin-bottom: 45px;
    }
    .section-image-left .feature-img-container {
        float: left;
        margin-right: 15px;
    }
    .section-image-right .feature-img-container {
        float: right;
        margin-left: 15px;
        margin-right: 0;
    }
    .features-list {
        width: 75%;
        padding-left: 0;
    }
    .section-image-left .features-list {
        margin-left: calc(25% + 15px);
    }
    .section-image-right .features-list {
        margin-left: 15px;
        margin-right: calc(25% + 15px);
    }
    .padding-left-40 {
        padding-left: 0;
    }
    .flex-mobile-section .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .col-shrink-mobile {
        width: auto;
    }
    .product-slider img {
        width: 100%;
    }
    .map-wrapper {
        margin: 0 auto 40px;
        padding-right: 0;
    }
    #page-footer .content {
        display: block;
        text-align: center;
    }
    #page-footer .copy {
        display: block;
        margin-bottom: 20px;
    }
    #page-footer .regulations .item {
        display: block;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .center-mobile {
        text-align: center;
    }
    .reset-mobile-left-padding {
        padding-left: 0;
    }
    .events-table {
        width: 100%;
        margin-right: 0;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        box-shadow: none;
    }
    #fixed-box-4-limit .col.col-50:first-child {
        width: 100%;
    }
    #fixed-box-4-limit .col.col-50:nth-child(2) {
        width: 100%;
    }
    .events-table-inner tr:last-child td {
        border-bottom: none;
    }
}
@media only screen and (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .main-nav {
        position: fixed;
        z-index: 999999;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .main-nav {
        display: block;
        padding-top: 90px;
    }
    .product-slider {
        margin-top: 30px;
        padding-top: 95px;
    }
    .product-details {
        margin-top: -40px;
    }
    h3 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    .features-list {
        width: calc(100% - 30px);
    }
    .block-450 {
        width: 100%;
    }
    .grid:before {
        display: none;
    }
    .section-image-left .feature-img-container {
        float: none;
        margin: 0 auto 45px;
    }
    .section-image-right .feature-img-container {
        float: none;
        margin: 0 auto 45px;
    }
    .section-image-right .features-list {
        margin-left: 0;
        margin-right: 0;
    }
    .section-image-left .features-list {
        margin-left: 15px;
        margin-right: 15px;
    }
    .flex-mobile-section .row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .col-shrink-mobile {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        margin: 0 auto;
    }
    .main-nav {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    #page-header .notes {
        text-align: center;
        width: 100%;
    }
    .page-header-content h1 {
        font-size: 4rem;
        text-align: center;
        margin-top: 0;
    }
    .page-header-head {
        margin-bottom: 2.5rem;
    }
    .page-header-content .desc {
        font-size: 1.8rem;
        text-align: center;
    }
    .page-header-content .name {
        font-size: 5rem;
        text-align: center;
    }
    #page-header .cta-wrapper {
        max-width: 190px;
        margin: 0 auto;
    }
    #page-header .cta-wrapper .btn {
        padding: 8px;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .events-table,
    .events-table td,
    .events-table tr {
        display: block;
    }
    .events-table > tbody > tr:first-child {
        display: none;
    }
    .events-table-inner td {
        padding-left: 15px;
    }
    .events-table-inner td:before {
        content: attr(data-th) ": ";
        display: inline-block;
        margin-right: 5px;
    }
    .events-table-inner tr:nth-child(odd) {
        background-color: #eee;
    }
    .next-button {
        width: 50px;
        height: 50px;
    }
    .next-button .arrow {
        width: 50px;
        height: 50px;
        background-size: 10px;
    }
    @-webkit-keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
      }
      60% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
      }
    }
    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
      }
      60% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
      }
    }
    .padding-bottom-105 {
        padding-bottom: 6rem;
    }
    .product-slider .slick-dots li .pag-button {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 20px;
    }
    .product-slider .slick-dots {
        right: auto;
    }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
    #page-header {
        height: 170%;
    }
    #next-button {
        display: none;
    }
    
}
@media only screen and (max-width: 479px) {
    .main-nav .menu li a {
        font-size: 3.4rem;
    }
    .close-menu {
        width: 46px;
        height: 46px;
    }
    .page-header-head {
        padding-top: 15px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        width: 100%;
    }
    .btn-menu {
        width: 50px;
        height: 50px;
        padding: 15px;
    }
    .page-header-head .btn-menu {
        margin-left: auto;
    }
    .page-header-head a img {
        width: 60px;
    }
    .page-header-content h1 {
        font-size: 2.8rem;
        padding-bottom: 20px;
    }
    .page-header-content .desc {
        font-size: 1.5rem;
    }
    .page-header-content .name {
        margin-bottom: 2.5rem;
    }
    .page-header-head .logo-orsay {
        padding-top: 14px;
        width: 100px;
        margin-left: 5px;
    }
    .page-header-content .name {
        font-size: 4rem;
    }
    .page-header-content .desc {
        margin-bottom: 2rem;
    }
    .close-menu {
        top: 15px;
    }
    .main-nav {
        padding-top: 60px;
    }
    .margin-bottom-90 {
        margin-bottom: 3rem;
    }
    .margin-bottom-140 {
        margin-bottom: 3rem;
    }
    .mobile-heaer-marign {
        margin-bottom: 3rem;
    }
}
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



.white-popup .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:100px 80px !important;
    text-align: center;
}

#konkurs h1{
    margin-bottom:0;
    text-align: center;
}

@media screen and (max-width: 767px){
    .white-popup .container{
        padding:100px 15px !important;
    }
}